/* Copyright © 2021 STJV contact@stjv.com

  This work is free. You can redistribute it and/or modify it under the
  terms of the Do What The Fuck You Want To Public License, Version 2,
  as published by Sam Hocevar. See the COPYING file for more details.
*/

button {
  background: var(--ciu-primary);
  color: var(--ciu-on-primary);
  border-radius: var(--ciu-border-radius);
  border: 1px var(--ciu-primary) solid;
  border: none;
  box-shadow: var(--ciu-box-shadow-small);
  cursor: pointer;
  margin-left: var(--ciu-box-shadow-small-margin);
  margin-right: var(--ciu-box-shadow-small-margin);
  padding: var(--ciu-spacing);
}

button:focus {
  outline: none;
  text-decoration: underline;
}

button:hover {
  background: var(--ciu-primary-dark);
}
