/* Copyright © 2021 STJV contact@stjv.com

  This work is free. You can redistribute it and/or modify it under the
  terms of the Do What The Fuck You Want To Public License, Version 2,
  as published by Sam Hocevar. See the COPYING file for more details.
*/

:root {
  --ciu-muted-on-surface: rgba(var(--ciu-on-surface), 0.6);
  --ciu-hint-on-surface: rgba(var(--ciu-on-surface), 0.1);

  --ciu-muted-on-background: rgba(var(--ciu-on-surface), 0.6);
  --ciu-hint-on-background: rgba(var(--ciu-on-surface), 0.4);

  --ciu-border-color: rgba(var(--ciu-on-surface), 0.8);
}

.ciu-primary {
  --ciu-current-dark: var(--ciu-primary-dark);
  --ciu-current-light: var(--ciu-primary-light);
  --ciu-current: var(--ciu-primary);
  background-color: var(--ciu-primary);
  color: var(--ciu-on-primary);
}

.ciu-secondary {
  --ciu-current-dark: var(--ciu-secondary-dark);
  --ciu-current-light: var(--ciu-secondary-light);
  --ciu-current: var(--ciu-secondary);
  background-color: var(--ciu-secondary);
  color: var(--ciu-on-secondary);
}
