/* Copyright © 2021 STJV contact@stjv.com

  This work is free. You can redistribute it and/or modify it under the
  terms of the Do What The Fuck You Want To Public License, Version 2,
  as published by Sam Hocevar. See the COPYING file for more details.
*/

:root {
  /* Colors */
  --ciu-active-color: #ff5e5e;
  --ciu-background-color: #FFFFFF;
  --ciu-color: #000000;
  --ciu-error-color: #db7516;
  --ciu-hint-color: #EEEEEE;
  --ciu-muted-color: #757575;

  /* Transition / Animation */
  --ciu-feedback-duration: 0.5s;
  --ciu-transition-duration: 0.3s;

  /* Layout / Borders */
  --ciu-border-radius: 3px;
  --ciu-box-shadow-small: 1px 1px 1px 1px #777777;
  /* Used to make the shadow fit in the control size, should be equal to offset-x + spread */
  --ciu-box-shadow-small-margin: 2px;
  --ciu-box-shadow: 3px 3px 3px 2px #777777;
  --ciu-spacing: 0.7rem;

  /* Fonts */
  --ciu-font-size: 1rem;
  --ciu-font: 400 var(--ciu-font-size) 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
